a.nav-link.active {
  position: relative;
}

a.nav-link.active::before {
  position: absolute;
  content: '';
  background: #111;
  width: 80%;
  height: 2px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}